
.modalBody{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.importBody{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-bottom: -3rem;
}

.infoBody{
  text-align: center;
}