@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;


.dangerLabel01 {
  @include type.type-style('label-01');
  color: $danger;
}

.cronEditor {
  display: inline;
}

.cronEditorField {
  float:left;
}

.cronTimePickerField {
  float:left;
  width: min-content;
}

.cronEditorFieldSeparator {
  float:left;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.cronContainer {
  padding: 16px;
}
