@use '@carbon/colors';
@use '@carbon/layout';

.flagContainer {
  margin: layout.$spacing-05;
}

.tag {
  cursor: pointer;
}

.greenTag{
  @extend .tag;
  color: colors.$white;
  background-color: colors.$green-80;
}

.mustardTag{
  @extend .tag;
  color: colors.$white;
  background-color: colors.$yellow-40;
}

.redTag{
  @extend .tag;
  color: colors.$white;
  background-color: colors.$red-70;
}
