@use '@carbon/layout';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.tableContainer {
  display: flex;
  flex-direction: column;

  & > section {
    position: relative;
    margin-bottom: layout.$spacing-01;
  }
}

.iconMarginLeft {
  margin-left: layout.$spacing-05;
}

.bulkUploadButton {
  margin-right: layout.$spacing-05;
}

.sidePanel {
  position: fixed;
  top: 0;
  right: 0;
  width: 32rem;
  height: 100%;
  background-color: #fff;
  margin-top: 3rem;
  border: 1px solid #a8a8a8;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidePanel.open {
  transform: translateX(0);
}

.panelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1rem;
  border-bottom: 1px solid #a8a8a8;
  background-color: #e0e0e0;
}

.panelTitle {
  font-size: 1rem;
  font-weight: 700;
}

.panelContent {
  padding:0 layout.$spacing-03 0 layout.$spacing-03;
}

.closeButton {
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
}
