@use '@carbon/colors';
@use '@carbon/layout';
@use '~@openmrs/esm-styleguide/src/vars' as *;

.container {
  width: 100%;
  height: 100%;
  padding: layout.$spacing-05;
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-10;
}

.body {
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-05;
	background-color: $ui-01;
  padding: layout.$spacing-04;
}

.summary {
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-05;
	font-size: 1rem;
}

.actions {
	display: flex;
	justify-content: space-between;
}

.chat {
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-05;
}

.generated {
	margin-bottom: layout.$spacing-05;
	padding-right: layout.$spacing-05;
	position: relative;
}

.editButton {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.title {
	font-size: 1.5rem;
	font-weight: 500;
}

.feedback {
	display: flex;
	flex-direction: column;
	gap: layout.$spacing-05;
	margin-bottom: layout.$spacing-05;
}