@use '@carbon/layout';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';



.left-justified-items {
	display: flex;
	flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
	gap: spacing.$spacing-03;
	margin-left: spacing.$spacing-05;
}

.title {
  @include type.type-style("heading-05");
  color: colors.$gray-100;
  margin: spacing.$spacing-03 0;
  // white-space: nowrap;
  font-size: 1.5rem;
}

.filter {
	margin: spacing.$spacing-05 0;
}

.messagesDashboard {
  margin-inline: layout.$spacing-05;
  margin-block: layout.$spacing-05;
}